*, *::before, *::after {
  box-sizing: border-box;
}

.navigation {
  margin: 0 auto;
  width: 50%;
}

.navigation__items {
  font-size: 48px;
  line-height: 58px;
  color: #000000;
  font-family: "Playfair Display";
  font-weight: 700;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
}

.topSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  padding: 20px;
  margin: 0 auto;
}

.topSection__picture {
  text-align: center;
  position: relative;
  margin: 40px;
}

.topSection__picture::before {
  content: '';
  background-image: url('img-top.jpg');
  background-position: center center;
  background-size: cover;
  height: 650px;
  width: 420px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.topSection__picture::after {
  content: '';
  border: 5px solid #B6DAC7;
  z-index: -1;
  height: 650px;
  width: 420px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.topSection__text {
  width: 944px;
  height: 715px;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  font-family: "Muli";
  font-weight: 400;
  text-align: right;
}

.topSection__text-layout {
  text-align: center;
}

.topSection__text-paragraph {
  font-size: 20px;
  text-align: left;
}

.topSection__text-btn {
  width: 100%;
  height: 60px;
  color: #FFFFFF;
  background-color: #acceb7;
}

.quoteBanner {
  background-image: url('img/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  left: 0;
  right: 0;
  font-size: 26px;
  line-height: 35px;
  color: #ffffff;
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: italic;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.expertOpinion {
  margin: 0 auto;
  width: 83%;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: italic;
}

.expertOpinionExmpl {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
  height: 750px;
}

.expertOpinionExmpl-left {
  width: 600px;
  border: 10px solid #b7dbc8;
  align-self: flex-start;
  position: relative;
  padding: 20px 50px;
  margin: 0 auto;
}

.expertOpinionExmpl-right {
  width: 600px;
  border: 10px solid #b7dbc8;
  align-self: flex-end;
  position: relative;
  padding: 20px 50px;
  margin: 0 auto;
}

.expertOpinionExmpl-left::after {
  content: '';
  background: url("img/lidia.png");
  background-position: center center;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 140px;
  background-color: #ffffff;
  border: 10px solid #acceb7;
  position: absolute;
  top: 100px;
  left: -165px;
  z-index: 0;
}

.expertOpinionExmpl-right::after {
  content: '';
  background: url("img/albert.png");
  background-position: center center;
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 140px;
  background-color: #ffffff;
  border: 10px solid #acceb7;
  position: absolute;
  top: 100px;
  left: -165px;
  z-index: 0;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  font-size: 36px;
  line-height: 60px;
  color: #4f4f4f;
  font-family: "Muli";
  font-weight: 400;
  padding: 40px 40px;
}

.contact__picture {
  background-image: url("img/img-bottom.jpg");
  background-position: center center;
  background-size: cover;
  width: 500px;
  height: 700px;
  padding: 20px 20px;
  position: relative;
}

.contact__picture::after {
  content: '';
  border: 5px solid #B6DAC7;
  z-index: 1;
  width: 500px;
  height: 700px;
  position: absolute;
  left: -40px;
  top: -20px;
}

.contact__form {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: left;
  width: 500px;
  height: 800px;
}

.contact__form__input {
  border: 2px solid #051405;
  width: 100%;
  height: 60px;
}

.contact__form__textarea {
  border: 2px solid #051405;
  width: 100%;
  height: 120px;
}

.contact__form__btn {
  font-size: 40px;
  letter-spacing: 4px;
  line-height: 60px;
  color: #ffffff;
  font-family: "Muli";
  font-weight: 400;
  background-color: #acceb7;
  width: 100%;
  height: 60px;
}

.bottomSection {
  background-color: #acceb7;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-size: 40px;
  line-height: 60px;
  color: #ffffff;
  font-family: "Muli";
  font-weight: 400;
}


.bottomSection__text {

}

.bottomSection__sm {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.bottomSection__sm-1 {
  background-image: url("img/facebook.svg");
  background-position: center center;
  background-size: cover;
  width: 100px;
  height: 100px;
  padding: 10px 10px;
}

.bottomSection__sm-2 {
  background-image: url("img/twitter.svg");
  background-position: center center;
  background-size: cover;
  width: 100px;
  height: 100px;
  padding: 10px 10px;
  margin: 20px;
}

.bottomSection__sm-3 {
  background-image: url("img/instagram.svg");
  background-position: center center;
  background-size: cover;
  width: 100px;
  height: 100px;
  padding: 10px 10px;
}
